.Test-run {
  overflow: hidden;
}
.grid-block {
  float: left;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  background: green;
  color: #fff;
  text-align: center;
  line-height: 20px;
}
.grid-block .grid-block {
  background: yellow;
  color: #333;
}
.grid-block span {
  display: block;
  line-height: 20px;
}
#grid-12-4-blocks .grid-block,
#grid-12-4-blocks-ordered .grid-block,
#grid-12-4-blocks-3-children .grid-block {
  width: 23.40425532%;
  width: -webkit-calc(25% - 15px);
  width: calc(25% - 15px);
  margin-left: 2.12765957%;
  margin-left: -webkit-calc(20px);
  margin-left: calc(20px);
}
#grid-12-4-blocks .grid-block:first-child,
#grid-12-4-blocks-ordered .grid-block:first-child,
#grid-12-4-blocks-3-children .grid-block:first-child {
  margin-left: 0;
}
#grid-12-4-blocks .grid-block .grid-block,
#grid-12-4-blocks-ordered .grid-block .grid-block,
#grid-12-4-blocks-3-children .grid-block .grid-block {
  width: 27.65957447%;
  width: -webkit-calc(33.33333333% - 13.33333333px);
  width: calc(33.33333333% - 13.33333333px);
  margin-left: 8.5106383%;
  margin-left: -webkit-calc(20px);
  margin-left: calc(20px);
}
#grid-12-4-blocks .grid-block .grid-block:first-child,
#grid-12-4-blocks-ordered .grid-block .grid-block:first-child,
#grid-12-4-blocks-3-children .grid-block .grid-block:first-child {
  margin-left: 0;
}
#grid-12-4-blocks-1-positioned {
  padding-left: 25.53191489%;
  padding-left: -webkit-calc(25% + 5px);
  padding-left: calc(25% + 5px);
  position: relative;
}
#grid-12-4-blocks-1-positioned .grid-block {
  width: 31.44208038%;
  width: -webkit-calc(33.33333333% - 13.33333333px);
  width: calc(33.33333333% - 13.33333333px);
  margin-left: 2.83687943%;
  margin-left: -webkit-calc(20px);
  margin-left: calc(20px);
}
#grid-12-4-blocks-1-positioned .grid-block:first-child {
  margin-left: 0;
}
#grid-12-4-blocks-1-positioned #positioned-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 23.40425532%;
  width: -webkit-calc(25% - 15px);
  width: calc(25% - 15px);
}
#grid-12-4-blocks-1-positioned #positioned-block + .grid-block {
  margin-left: 0;
}
#grid-12-4-blocks-ordered #ordered-block-1 {
  margin-left: -48.93617021%;
  margin-left: -webkit-calc(-50% + 10px);
  margin-left: calc(-50% + 10px);
}
#grid-12-4-blocks-ordered #ordered-block-2 {
  margin-left: 25.53191489%;
  margin-left: -webkit-calc(25% + 5px);
  margin-left: calc(25% + 5px);
}
#grid-12-4-blocks-ordered #ordered-block-4 {
  margin-left: 76.59574468%;
  margin-left: -webkit-calc(75% + 15px);
  margin-left: calc(75% + 15px);
  margin-bottom: -100%;
}
#grid-12-4-blocks-positioned {
  position: relative;
  padding-top: 60px;
}
#grid-12-4-blocks-positioned .grid-block {
  float: none;
  position: absolute;
  top: 0;
  width: 23.40425532%;
  width: -webkit-calc(25% - 15px);
  width: calc(25% - 15px);
}
#grid-12-4-blocks-positioned #positioned-block-1 {
  right: 76.59574468%;
  right: -webkit-calc(75% + 15px);
  right: calc(75% + 15px);
}
#grid-12-4-blocks-positioned #positioned-block-2 {
  left: 25.53191489%;
  left: -webkit-calc(25% + 5px);
  left: calc(25% + 5px);
}
#grid-12-4-blocks-positioned #positioned-block-3 {
  left: 51.06382979%;
  left: -webkit-calc(50% + 10px);
  left: calc(50% + 10px);
}
#grid-12-4-blocks-positioned #positioned-block-4 {
  right: 0;
}
#grid-10-5-blocks .grid-block,
#grid-10-5-blocks-2-children .grid-block {
  width: 18.29787234%;
  width: -webkit-calc(20% - 16px);
  width: calc(20% - 16px);
  margin-left: 2.12765957%;
  margin-left: -webkit-calc(20px);
  margin-left: calc(20px);
}
#grid-10-5-blocks .grid-block:first-child,
#grid-10-5-blocks-2-children .grid-block:first-child {
  margin-left: 0;
}
#grid-10-5-blocks .grid-block .grid-block,
#grid-10-5-blocks-2-children .grid-block .grid-block {
  width: 44.68085106%;
  width: -webkit-calc(50% - 10px);
  width: calc(50% - 10px);
  margin-left: 10.63829787%;
  margin-left: -webkit-calc(20px);
  margin-left: calc(20px);
}
#grid-10-5-blocks .grid-block .grid-block:first-child,
#grid-10-5-blocks-2-children .grid-block .grid-block:first-child {
  margin-left: 0;
}
#grid-css-multi-column {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}
#grid-css-multi-column p {
  margin-top: 0;
  margin-bottom: 1.5em;
}
html {
  font-size: 16px;
}
.scale {
  position: relative;
  overflow: scroll;
  overflow-y: hidden !important;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}
.scale .step {
  display: inline-block;
  text-transform: uppercase;
}
.scale .step--6 {
  font-size: 4.74074074px;
  font-size: 0.2962963rem;
}
.scale .step--5 {
  font-size: 5.92592593px;
  font-size: 0.37037037rem;
}
.scale .step--4 {
  font-size: 7.11111111px;
  font-size: 0.44444444rem;
}
.scale .step--3 {
  font-size: 8.88888889px;
  font-size: 0.55555556rem;
}
.scale .step--2 {
  font-size: 10.66666667px;
  font-size: 0.66666667rem;
}
.scale .step--1 {
  font-size: 13.33333333px;
  font-size: 0.83333333rem;
}
.scale .step-00 {
  font-size: 16px;
  font-size: 1rem;
}
.scale .step-01 {
  font-size: 20px;
  font-size: 1.25rem;
}
.scale .step-02 {
  font-size: 24px;
  font-size: 1.5rem;
}
.scale .step-03 {
  font-size: 30px;
  font-size: 1.875rem;
}
.scale .step-04 {
  font-size: 36px;
  font-size: 2.25rem;
}
.scale .step-05 {
  font-size: 45px;
  font-size: 2.8125rem;
}
.scale .step-06 {
  font-size: 54px;
  font-size: 3.375rem;
}
.scale .step-07 {
  font-size: 67.5px;
  font-size: 4.21875rem;
}
.scale .step-08 {
  font-size: 81px;
  font-size: 5.0625rem;
}
.scale .step-09 {
  font-size: 101.25px;
  font-size: 6.328125rem;
}
.scale .step-10 {
  font-size: 121.5px;
  font-size: 7.59375rem;
}
.scale .step-11 {
  font-size: 151.875px;
  font-size: 9.4921875rem;
}
.scale .step-12 {
  font-size: 182.25px;
  font-size: 11.390625rem;
}
.scale .step-13 {
  font-size: 227.8125px;
  font-size: 14.23828125rem;
}
.scale .step-14 {
  font-size: 273.375px;
  font-size: 17.0859375rem;
}
.scale .step-15 {
  font-size: 341.71875px;
  font-size: 21.35742188rem;
}
.scale .step-16 {
  font-size: 410.0625px;
  font-size: 25.62890625rem;
}
.scale .step-17 {
  font-size: 512.578125px;
  font-size: 32.03613281rem;
}
.scale .step-18 {
  font-size: 615.09375px;
  font-size: 38.44335938rem;
}
.scale .step-19 {
  font-size: 768.8671875px;
  font-size: 48.05419922rem;
}
.scale .step-20 {
  font-size: 922.640625px;
  font-size: 57.66503906rem;
}
.scale .step-21 {
  font-size: 1153.30078125px;
  font-size: 72.08129883rem;
}
.scale .step-22 {
  font-size: 1383.9609375px;
  font-size: 86.49755859rem;
}
.scale .step-23 {
  font-size: 1729.95117188px;
  font-size: 108.12194824rem;
}
.scale .step-24 {
  font-size: 2075.94140625px;
  font-size: 129.74633789rem;
}
.scale .step-25 {
  font-size: 2594.92675781px;
  font-size: 162.18292236rem;
}
.scale .step-26 {
  font-size: 3113.91210938px;
  font-size: 194.61950684rem;
}
.scale .step-27 {
  font-size: 3892.39013672px;
  font-size: 243.27438354rem;
}
.scale .step-28 {
  font-size: 4670.86816406px;
  font-size: 291.92926025rem;
}
.scale .step-29 {
  font-size: 5838.58520508px;
  font-size: 364.91157532rem;
}
.scale .step-30 {
  font-size: 7006.30224609px;
  font-size: 437.89389038rem;
}
#scale-integer {
  line-height: 0.85;
}
#scale-float {
  line-height: 0.85;
}
#scale-float .step-16-1 {
  font-size: 418.46064301px;
  font-size: 26.15379019rem;
}
#scale-float .step-16-2 {
  font-size: 427.03078127px;
  font-size: 26.68942383rem;
}
#scale-float .step-16-3 {
  font-size: 435.77643728px;
  font-size: 27.23602733rem;
}
#scale-float .step-16-4 {
  font-size: 444.70120568px;
  font-size: 27.79382535rem;
}
#scale-float .step-16-5 {
  font-size: 463.16662076px;
  font-size: 28.9479138rem;
}
#scale-float .step-16-6 {
  font-size: 472.65234431px;
  font-size: 29.54077152rem;
}
#scale-float .step-16-7 {
  font-size: 482.33233695px;
  font-size: 30.14577106rem;
}
#scale-float .step-16-8 {
  font-size: 492.21057732px;
  font-size: 30.76316108rem;
}
#scale-float .step-16-9 {
  font-size: 502.29112557px;
  font-size: 31.39319535rem;
}
html {
  font-family: Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
#baseline-horizontal {
  background: url(http://basehold.it/i/24/ff0000) 0 -6px;
}
#baseline-horizontal > div {
  float: left;
  width: 23.40425532%;
  width: -webkit-calc(25% - 15px);
  width: calc(25% - 15px);
  margin-left: 2.12765957%;
  margin-left: -webkit-calc(20px);
  margin-left: calc(20px);
  margin-top: 24px;
  margin-top: 1.5rem;
}
#baseline-horizontal > div:first-child {
  margin-left: 0;
}
#baseline-horizontal .large {
  position: relative;
  top: -0.72325rem;
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 1.2;
}
#baseline-horizontal .small {
  position: relative;
  top: -0.1875rem;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.875;
}
#baseline-horizontal .tiny {
  position: relative;
  top: 0.0995rem;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2;
}
#baseline-vertical {
  background: url(http://basehold.it/i/24/ff0000) 0 -6px;
}
#baseline-vertical h1 {
  position: relative;
  top: -1.43503571rem;
  font-size: 50px;
  font-size: 3.125rem;
  line-height: 0.85714286;
  margin-top: 24px;
  margin-top: 1.5rem;
  margin-bottom: 24px;
  margin-bottom: -webkit-calc(1.5rem + -1.17857143rem);
  margin-bottom: calc(1.5rem + -1.17857143rem);
}
#baseline-vertical p {
  margin-top: 0;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
#baseline-vertical-family {
  background: url(http://basehold.it/i/24/ff0000) 0 -6px;
}
#baseline-vertical-family h1 {
  font-family: "Gill Sans", sans-serif;
  position: relative;
  top: -1.26628571rem;
  font-size: 50px;
  font-size: 3.125rem;
  line-height: 0.85714286;
  margin-top: 24px;
  margin-top: 1.5rem;
  margin-bottom: 24px;
  margin-bottom: -webkit-calc(1.5rem + -1.17857143rem);
  margin-bottom: calc(1.5rem + -1.17857143rem);
}
#baseline-vertical-family p {
  margin-top: 0;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
#baseline-vertical-line {
  background: url(http://basehold.it/i/24/ff0000) 0 -6px;
}
#baseline-vertical-line h1 {
  font-family: "Gill Sans", sans-serif;
  position: relative;
  top: -0.1335rem;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.875;
  margin-top: 24px;
  margin-top: 1.5rem;
  padding-bottom: 2.4000000000000004px;
  padding-bottom: 0.15000000000000002rem;
  border-bottom: 2px solid;
  margin-bottom: 21.6px;
  margin-bottom: -webkit-calc(1.35rem + -2px + -0.375rem);
  margin-bottom: calc(1.35rem + -2px + -0.375rem);
}
#baseline-vertical-line p {
  margin-top: 0;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
#baseline-vertical-offset {
  overflow: visible;
  position: relative;
  padding-left: 34.04255319%;
  padding-left: -webkit-calc(33.33333333% + 6.66666667px);
  padding-left: calc(33.33333333% + 6.66666667px);
  background: url(http://basehold.it/i/24/ff0000) 0 -6px;
}
#baseline-vertical-offset p {
  margin-top: 0;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
#baseline-vertical-offset .comments,
#baseline-vertical-offset .meta {
  position: absolute;
  left: 0;
}
#baseline-vertical-offset .meta {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.5;
  top: 0px;
  top: -webkit-calc(0rem + -0.1435rem);
  top: calc(0rem + -0.1435rem);
  margin-bottom: 0px;
  margin-bottom: -webkit-calc(0rem + -0.1875rem);
  margin-bottom: calc(0rem + -0.1875rem);
}
#baseline-vertical-offset .comments {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5;
  bottom: 0px;
  bottom: -webkit-calc(0rem + -0.1435rem);
  bottom: calc(0rem + -0.1435rem);
  margin-bottom: 0px;
  margin-bottom: -webkit-calc(0rem + 0.1875rem);
  margin-bottom: calc(0rem + 0.1875rem);
}
.offset-table table {
  margin: -0.25em -0.5em 0.5em;
}
.offset-table th,
.offset-table td {
  padding: 0.25em 0.5em;
}
.offset-table th {
  text-align: left;
}
.offset-table th ~ th,
.offset-table th ~ td {
  text-align: right;
}
.offset-table tbody th {
  font-weight: normal;
  font-family: "Comic Sans MS";
}
.offset-table .error th + td {
  color: red;
}
.offset-table .warning th + td {
  color: orange;
}
.offset-table .notice th + td {
  color: #666;
}
#scale-test {
  position: absolute;
  right: 100%;
  bottom: 0;
  width: 100%;
  line-height: 1;
  font-family: "Comic Sans MS";
  font-style: normal;
  font-weight: 400;
}
/*! suit-test v0.1.0 | MIT License | github.com/suitcss */
/* ==========================================================================
   SUIT: Test
   ========================================================================== */
/**
 * The 'describe' CSS counter
 */
.Test {
  counter-reset: test-describe;
}
.Test-describe:before {
  content: counter(test-describe);
  counter-increment: test-describe;
}
/**
 * The 'it' CSS counter
 */
.Test-describe {
  counter-reset: test-it;
}
.Test-it:before {
  content: counter(test-describe) "." counter(test-it);
  counter-increment: test-it;
}
/**
 * The test title
 */
.Test-title {
  font-size: 2em;
  font-family: sans-serif;
  padding: 20px;
  margin: 20px 0;
  background: #eee;
  color: #999;
}
/**
 * The test description and expectation titles
 */
.Test-describe,
.Test-it {
  background: #eee;
  border-left: 5px solid #666;
  color: #666;
  font-family: sans-serif;
  font-weight: bold;
  margin: 20px 0;
  padding: 0.75em 20px;
}
.Test-describe {
  font-size: 1.5em;
  margin: 60px 0 20px;
}
/**
 * The counter styles
 */
.Test-describe:before,
.Test-it:before {
  color: #999;
  display: inline-block;
  margin-right: 10px;
  min-width: 30px;
  text-transform: uppercase;
}
