body,
html {
  margin: 0;
  padding: 0;
}
h1,
h2 {
  margin-top: 0;
}
html {
  background: #ddd;
}
body {
  margin: 0 auto;
  padding-left: 2.12765957%;
  padding-left: -webkit-calc(20px);
  padding-left: calc(20px);
  padding-right: 2.12765957%;
  padding-right: -webkit-calc(20px);
  padding-right: calc(20px);
  max-width: 940px;
  background: #fff;
}
#main-column {
  padding: 1px 0;
  position: relative;
  padding-right: 51.06382979%;
  padding-right: -webkit-calc(50% + 10px);
  padding-right: calc(50% + 10px);
}
.mini-block {
  width: 65.24822695%;
  width: -webkit-calc(66.66666667% - 6.66666667px);
  width: calc(66.66666667% - 6.66666667px);
}
.pull-block {
  float: right;
  width: 100%;
  width: -webkit-calc(100% - 0px);
  width: calc(100% - 0px);
  margin-left: 4.25531915%;
  margin-left: -webkit-calc(20px);
  margin-left: calc(20px);
  margin-right: -104.25531915%;
  margin-right: -webkit-calc(-100% + -20px);
  margin-right: calc(-100% + -20px);
}
.side-block {
  position: absolute;
  top: 0;
  right: 0;
  width: 48.93617021%;
  width: -webkit-calc(50% - 10px);
  width: calc(50% - 10px);
}
.penertrating-block {
  float: right;
  width: 134.75177305%;
  width: -webkit-calc(133.33333333% - -6.66666667px);
  width: calc(133.33333333% - -6.66666667px);
  margin-left: 4.25531915%;
  margin-left: -webkit-calc(20px);
  margin-left: calc(20px);
  margin-right: -104.25531915%;
  margin-right: -webkit-calc(-100% + -20px);
  margin-right: calc(-100% + -20px);
}
