body,
html {
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
  line-height: 1.5;
}
.scale {
  white-space: nowrap;
  line-height: 0.5;
}
.baseline-test {
  content: "testing";
  position: relative;
  top: -0.26875rem;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.125;
}
.step--6 {
  font-size: 4.74074074px;
  font-size: 0.2962963rem;
}
.step--5 {
  font-size: 5.92592593px;
  font-size: 0.37037037rem;
}
.step--4 {
  font-size: 7.11111111px;
  font-size: 0.44444444rem;
}
.step--3 {
  font-size: 8.88888889px;
  font-size: 0.55555556rem;
}
.step--2 {
  font-size: 10.66666667px;
  font-size: 0.66666667rem;
}
.step--1 {
  font-size: 13.33333333px;
  font-size: 0.83333333rem;
}
.step-00 {
  font-size: 16px;
  font-size: 1rem;
}
.step-01 {
  font-size: 20px;
  font-size: 1.25rem;
}
.step-02 {
  font-size: 24px;
  font-size: 1.5rem;
}
.step-03 {
  font-size: 30px;
  font-size: 1.875rem;
}
.step-04 {
  font-size: 36px;
  font-size: 2.25rem;
}
.step-05 {
  font-size: 45px;
  font-size: 2.8125rem;
}
.step-06 {
  font-size: 54px;
  font-size: 3.375rem;
}
.step-07 {
  font-size: 67.5px;
  font-size: 4.21875rem;
}
.step-08 {
  font-size: 81px;
  font-size: 5.0625rem;
}
.step-09 {
  font-size: 101.25px;
  font-size: 6.328125rem;
}
.step-10 {
  font-size: 121.5px;
  font-size: 7.59375rem;
}
.step-11 {
  font-size: 151.875px;
  font-size: 9.4921875rem;
}
.step-12 {
  font-size: 182.25px;
  font-size: 11.390625rem;
}
.step-13 {
  font-size: 227.8125px;
  font-size: 14.23828125rem;
}
.step-14 {
  font-size: 273.375px;
  font-size: 17.0859375rem;
}
.step-15 {
  font-size: 341.71875px;
  font-size: 21.35742188rem;
}
.step-16 {
  font-size: 410.0625px;
  font-size: 25.62890625rem;
}
.step-17 {
  font-size: 512.578125px;
  font-size: 32.03613281rem;
}
.step-18 {
  font-size: 615.09375px;
  font-size: 38.44335938rem;
}
.step-19 {
  font-size: 768.8671875px;
  font-size: 48.05419922rem;
}
.step-20 {
  font-size: 922.640625px;
  font-size: 57.66503906rem;
}
