@import '../source/grid.less';

.use-grid();

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}
html {
	background: #ddd;
}
body {
	margin: 0 auto;
	.gutter-padding-left(1);
	.gutter-padding-right(1);
	max-width: @grid-max-width;
	background: #fff;
}
.container {
	overflow: hidden;
	height: (100% / 9);
}
.column {
	float: left;
	overflow: hidden;
	min-height: 100%;
	background: #fdd;
	text-align: center;
	.column-width(1);
	.gutter-margin-left(1);
}
.column:first-child {
	margin-left: 0 !important;
}
.span-2 {
	background: #ddf;
	.column-width(2);
}
.span-3 {
	background: #ff3add;
	.column-width(3);
}
.span-1-5 {
	background: #dfd;
	.column-width((12 / 5));
}
.span-3-9 {
	background: #dfd;
	.column-width(3, 9);
	.gutter-margin-left(1, 9);
}
.span-4 {
	background: #dfd;
	.column-width(4);
	
	.column {
		.column-width(1, 4);
		.gutter-margin-left(1, 4);
	}
}
.span-5 {
	background: #dff;
	.column-width(5);
}
.span-6 {
	background: #fdf;
	.column-width(6);
	.span-3 {
		.column-width(3, 6);
		.gutter-margin-left(1, 6);
	}
}
.span-12 {
	background: #ddd;
	.column-width(12);
}