body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
html {
  background: #ddd;
}
body {
  margin: 0 auto;
  padding-left: 2.12765957%;
  padding-left: -webkit-calc(20px);
  padding-left: calc(20px);
  padding-right: 2.12765957%;
  padding-right: -webkit-calc(20px);
  padding-right: calc(20px);
  max-width: 940px;
  background: #fff;
}
.container {
  overflow: hidden;
  height: 11.11111111%;
}
.column {
  float: left;
  overflow: hidden;
  min-height: 100%;
  background: #fdd;
  text-align: center;
  width: 6.38297872%;
  width: -webkit-calc(8.33333333% - 18.33333333px);
  width: calc(8.33333333% - 18.33333333px);
  margin-left: 2.12765957%;
  margin-left: -webkit-calc(20px);
  margin-left: calc(20px);
}
.column:first-child {
  margin-left: 0 !important;
}
.span-2 {
  background: #ddf;
  width: 14.89361702%;
  width: -webkit-calc(16.66666667% - 16.66666667px);
  width: calc(16.66666667% - 16.66666667px);
}
.span-3 {
  background: #ff3add;
  width: 23.40425532%;
  width: -webkit-calc(25% - 15px);
  width: calc(25% - 15px);
}
.span-1-5 {
  background: #dfd;
  width: 18.29787234%;
  width: -webkit-calc(20% - 16px);
  width: calc(20% - 16px);
}
.span-3-9 {
  background: #dfd;
  width: 31.44208038%;
  width: -webkit-calc(33.33333333% - 13.33333333px);
  width: calc(33.33333333% - 13.33333333px);
  margin-left: 2.83687943%;
  margin-left: -webkit-calc(20px);
  margin-left: calc(20px);
}
.span-4 {
  background: #dfd;
  width: 31.91489361%;
  width: -webkit-calc(33.33333333% - 13.33333333px);
  width: calc(33.33333333% - 13.33333333px);
}
.span-4 .column {
  width: 20.21276596%;
  width: -webkit-calc(25% - 15px);
  width: calc(25% - 15px);
  margin-left: 6.38297872%;
  margin-left: -webkit-calc(20px);
  margin-left: calc(20px);
}
.span-5 {
  background: #dff;
  width: 40.42553192%;
  width: -webkit-calc(41.66666667% - 11.66666667px);
  width: calc(41.66666667% - 11.66666667px);
}
.span-6 {
  background: #fdf;
  width: 48.93617021%;
  width: -webkit-calc(50% - 10px);
  width: calc(50% - 10px);
}
.span-6 .span-3 {
  width: 47.87234043%;
  width: -webkit-calc(50% - 10px);
  width: calc(50% - 10px);
  margin-left: 4.25531915%;
  margin-left: -webkit-calc(20px);
  margin-left: calc(20px);
}
.span-12 {
  background: #ddd;
  width: 100%;
  width: -webkit-calc(100% - 0px);
  width: calc(100% - 0px);
}
