/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html {
  width: 680px;
  padding: 24px;
  font-family: 'Verdana', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
main {
  position: relative;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0.125) 24px, transparent 24px, transparent), linear-gradient(to bottom, rgba(255, 0, 0, 0.2) 1px, transparent 1px, transparent);
  background-size: calc(33.33333333% - 16px + 24px) 2px, 2px 24px;
  background-position: -24px 0, 0 -7px;
  padding-right: 34.50980392%;
  padding-right: calc(33.33333333% + 8px + 0px);
  padding-bottom: 0.024px;
  padding-bottom: 0.0015rem;
}
main > aside {
  position: absolute;
  top: 48px;
  top: 3rem;
  right: 0;
  width: 30.98039215%;
  width: calc(33.33333333% - 16px + 0px);
}
h1 {
  position: relative;
  top: -16.552px;
  top: -1.0345rem;
  font: 700 36px / 1.25 'Helvetica', sans-serif;
  font-size: 2.25rem;
  padding-top: 24px;
  padding-top: 1.5rem;
  margin-bottom: 24px;
  margin-bottom: calc(1.5rem + -1.3125rem);
}
h1 + p {
  position: relative;
  top: -4.24px;
  top: -0.265rem;
  font: italic 400 24px / 1.25 'Baskerville', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 24px;
  margin-bottom: calc(1.5rem + -0.375rem);
}
h2 {
  position: relative;
  top: -2.092px;
  top: -0.13075rem;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 0px;
  margin-bottom: calc(0rem + -0.0625rem);
}
aside p {
  position: relative;
  top: 6.12266667px;
  top: 0.38266667rem;
  font-size: 10.66666667px;
  font-size: 0.66666667rem;
  line-height: 1.5;
  margin-bottom: 0px;
  margin-bottom: calc(0rem + 0.5rem);
}
p {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
