//! order.less v0.1.0 | Apache License, Version 2.0 | github.com/chromice/order.less

// = = = = = = = =
// baseline.less =
// = = = = = = = =

.use-baseline (@size, @line-height, @offset: 0.85) when (ispixel(@size)) {
	.use-baseline(@size, @line-height, @offset, @size, 1, @offset);
}
.use-baseline (@size, @line-height, @offset, @alt-size, @alt-line-ratio, @alt-offset) when (ispixel(@size)) and (ispixel(@alt-size)) {
	
	// Main baseline values
	@baseline-size: @size;
	@baseline-height: @line-height;
	@baseline-offset: @offset;
	
	// Adjusted baseline values
	@current-size: @alt-size;
	@current-height: (@baseline-height * @alt-line-ratio);
	@current-offset: @alt-offset;
	
	@-diff-height: (@baseline-height * @baseline-size - @current-height * @current-size);
	@-diff-font-size: (@current-size * (@current-offset - 0.5) - @baseline-size * (@baseline-offset - 0.5));
	
	@offset-top: (unit(mod(@-diff-height / 2 - @-diff-font-size, @baseline-size * @baseline-height) / @baseline-size, rem));
	@offset-bottom: (unit(mod(@-diff-height, @baseline-size * @baseline-height) / @baseline-size, rem));
	
	// Set a new baseline
	.baseline-set(@-size, @-line-ratio, @-offset: @baseline-offset) {
		.use-baseline(@baseline-size, @baseline-height, @baseline-offset, @-size, @-line-ratio, @-offset);
	}
	
	// Reset baseline to default values
	.baseline-reset() {
		.use-baseline(@baseline-size, @baseline-height, @baseline-offset);
	}
	
	// Shift text to the main baseline
	.baseline-align () {
		position: relative;
		top: @offset-top;
	}
	.baseline-align (@-size, @-line-ratio, @-offset: @baseline-offset) {
		.baseline-set(@-size, @-line-ratio, @-offset);
		.baseline-align();
	}
	
	// Set font size and line height
	.baseline-resize () {
		font-size: @current-size;
		font-size: unit((@current-size / @baseline-size), rem);
		line-height: @current-height;
	}
	.baseline-resize (@-size, @-line-ratio, @-offset: @baseline-offset) {
		.baseline-set(@-size, @-line-ratio, @-offset);
		.baseline-resize();
	}
	
	// Adjust alignment, font size and line height
	.baseline-adjust () {
		.baseline-align();
		.baseline-resize();
	}
	.baseline-adjust (@-size, @-line-ratio, @-offset: @baseline-offset) {
		.baseline-set(@-size, @-line-ratio, @-offset);
		.baseline-adjust();
	}
	
	// Baseline height
	.baseline-height (@span) {
		.baseline-property(height, @span);
	}
	.baseline-height (@span, @offset) {
		.baseline-property(height, @span, @offset);
	}
	.baseline-min-height (@span) {
		.baseline-property(min-height, @span);
	}
	.baseline-min-height (@span, @offset) {
		.baseline-property(min-height, @span, @offset);
	}
	.baseline-max-height (@span) {
		.baseline-property(max-height, @span);
	}
	.baseline-max-height (@span, @offset) {
		.baseline-property(max-height, @span, @offset);
	}
	
	// Baseline offset
	.baseline-top (@span) {
		.baseline-property(top, @span, @offset-top);
	}
	.baseline-top (@span, @offset) {
		.baseline-property(top, @span, @offset ~"+" @offset-top);
	}
	.baseline-bottom (@span) {
		.baseline-property(bottom, @span, (@offset-top * -1));
	}
	.baseline-bottom (@span, @offset) {
		.baseline-property(bottom, @span, @offset ~"-" @offset-top);
	}
	
	// Baseline padding
	.baseline-padding-top (@span) {
		.baseline-property(padding-top, @span);
	}
	.baseline-padding-top (@span, @offset) {
		.baseline-property(padding-top, @span, @offset);
	}
	.baseline-padding-bottom (@span) {
		.baseline-property(padding-bottom, @span);
	}
	.baseline-padding-bottom (@span, @offset) {
		.baseline-property(padding-bottom, @span, @offset);
	}
	
	// Baseline margin
	.baseline-margin-top (@span) {
		.baseline-property(margin-top, @span);
	}
	.baseline-margin-top (@span, @offset) {
		.baseline-property(margin-top, @span, @offset);
	}
	.baseline-margin-bottom (@span) {
		.baseline-property(margin-bottom, @span, @offset-bottom);
	}
	.baseline-margin-bottom (@span, @offset) {
		.baseline-property(margin-bottom, @span, @offset ~"+" @offset-bottom);
	}
	
	// Calculate baseline values
	.calculate-baseline-values (@span, @base: @baseline-size) {
		@-height-px-value: unit((@span * @baseline-size * @baseline-height));
		@-height-rem-value: unit((@span * @baseline-height));
		@-height-px: ~"@{-height-px-value}px";
		@-height-rem: ~"@{-height-rem-value}rem";
	}
	
	// Set property values
	.baseline-property (@property, @span, @offset: 0) when (@offset = 0) {
		.calculate-baseline-values(@span);
		
		@{property}: @-height-px;
		@{property}: @-height-rem;
	}
	.baseline-property (@property, @span, @offset: 0) when (@offset > 0), (@offset < 0)  {
		.calculate-baseline-values(@span);
		
		@{property}: @-height-px;
		@{property}: -webkit-calc(@-height-rem ~"+" @offset);
		@{property}: calc(@-height-rem ~"+" @offset);
	}
}

// Add scale support to baseline mixins
.use-baseline (@-step, @-height, @-offset: 0.85) when not(ispixel(@-step)) {
	.calculate-scale-values(@-step);
	.use-baseline(@scale-size, @-height, @-offset);
}
.use-baseline (@-size, @-height, @-offset, @-alt-step, @-alt-line-ratio, @-alt-offset) when (ispixel(@-size)) and not(ispixel(@-alt-step)) {
	.calculate-scale-values(@-alt-step);
	.use-baseline(@-size, @-height, @-offset, @scale-size, @-alt-line-ratio, @-alt-offset);
}
