//! order.less v0.6.0 | Apache License, Version 2.0 | github.com/chromice/order.less

// =================
// = baseline.less =
// =================

// 
// Font offset as name
// 
.use-baseline (@-size, @-height, @name) when (iskeyword(@name)) {
	
	@baseline-font: @name;
	
	@-offset: "@{name}-font-offset";
	@-variation: "@{name}-font-variation";
	@-family: "@{name}-font-family";
	
	.use-baseline(@-size, @-height, @@-offset);
	
	//
	// Property mixins
	//
	
	// Font property "shorthand" mixin
	.font (@font-size, @line-height: @baseline-height, @font-name: @baseline-font) {
		
		// TODO: Add support for font-style
		// FIXME: font variation and font family variables should be optional
		@-font-offset: "@{font-name}-font-offset";
		@-font-variation: "@{font-name}-font-variation";
		@-font-family: "@{font-name}-font-family";
		
		.set-baseline(@font-size, @line-height, @@-font-offset);
		font: @@-font-variation @current-size~"/"@current-height @@-font-family;
		font-size: unit((@current-size / @baseline-size), rem);
	}
	
	
	// .font() + .align-baseline()
	.font-align (@font-size, @line-height: @baseline-height, @font-name: @baseline-font) {
		.font(@font-size, @line-height, @font-name);
		.align-baseline();
	}
}

// 
// Base size as a scale step
// 
.use-baseline (@-step, @-height, @-offset: 0.85) when (unit(@-step) = ~"@{-step}") and not(iskeyword(@-offset)) {
	.get-scale-size(@-step);
	.use-baseline(@scale-size, @-height, @-offset);
}
.use-baseline (@-size, @-height, @-offset, @-alt-step, @-alt-height, @-alt-offset) when (ispixel(@-size)) and (unit(@-alt-step) = ~"@{-alt-step}") {
	.get-scale-size(@-alt-step);
	.use-baseline(@-size, @-height, @-offset, @scale-size, @-alt-height, @-alt-offset);
}

// 
// Base size in pixels
// 
.use-baseline (@size, @height, @offset: 0.85) when (ispixel(@size)) and not(iskeyword(@offset)) {
	.use-baseline(@size, @height, @offset, @size, @height, @offset);
}
.use-baseline (@size, @height, @offset, @alt-size, @alt-height, @alt-offset) when (ispixel(@size)) and (ispixel(@alt-size)) {
	
	// Main baseline values
	@baseline-size: @size;
	@baseline-height: @height;
	@baseline-offset: @offset;
	
	// Adjusted baseline values
	@current-size: @alt-size;
	@current-height: @alt-height;
	@current-offset: @alt-offset;
	
	@-diff-height: (@baseline-height * @baseline-size - @current-height * @current-size);
	@-diff-font-size: (@current-size * (@current-offset - 0.5) - @baseline-size * (@baseline-offset - 0.5));
	
	// Calculated top and bottom baseline offsets
	@offset-top: (unit(mod(@-diff-height / 2 - @-diff-font-size, @baseline-size * @baseline-height) / @baseline-size, rem));
	@offset-bottom: (unit(mod(@-diff-height, @baseline-size * @baseline-height) / @baseline-size, rem));
	
	//
	// Show baseline
	//
	.show-baseline(@color: red, @-offset: @baseline-offset) {
		@-linear-gradien: fade(@color, 40%) 1px, transparent 1px, transparent;
		
		background-image: -webkit-linear-gradient(top, @-linear-gradien);
		background-image: -moz-linear-gradient(top, @-linear-gradien);
		background-image: -o-linear-gradient(top, @-linear-gradien);
		background-image: linear-gradient(to bottom, @-linear-gradien);
		-webkit-background-size: 2px (@baseline-height * @baseline-size);
		background-size: 2px (@baseline-height * @baseline-size);
		background-position: 0 round((-1px - (@-offset - 0.5) * @baseline-size));
	}
	
	//
	// Baseline manipulation mixins
	//
	
	// Set a new baseline
	.set-baseline (@-size, @-height: @baseline-height, @-offset: @baseline-offset) {
		.use-baseline(@baseline-size, @baseline-height, @baseline-offset, @-size, @-height, @-offset);
	}
	
	// Reset baseline to default values
	.reset-baseline () {
		.use-baseline(@baseline-size, @baseline-height, @baseline-offset);
	}
	
	// Shift text to the main baseline
	.align-baseline () {
		position: relative;
		top: @offset-top;
	}
	.align-baseline (@-size, @-height: @baseline-height, @-offset: @baseline-offset) {
		.set-baseline(@-size, @-height, @-offset);
		.align-baseline();
	}
	
	// Set font size and line height
	.resize-baseline () {
		font-size: @current-size;
		font-size: unit((@current-size / @baseline-size), rem);
		line-height: @current-height;
	}
	.resize-baseline (@-size, @-height: @baseline-height, @-offset: @baseline-offset) {
		.set-baseline(@-size, @-height, @-offset);
		.resize-baseline();
	}
	
	// Adjust alignment, font size and line height
	.adjust-baseline () {
		.align-baseline();
		.resize-baseline();
	}
	.adjust-baseline (@-size, @-height: @baseline-height, @-offset: @baseline-offset) {
		.set-baseline(@-size, @-height, @-offset);
		.adjust-baseline();
	}
	
	//
	// Property mixins
	//
	
	// Baseline height
	.height (@span, @nudge: 0) when (unit(@span) = ~"@{span}") {
		.-baseline-property(height, @span, @nudge);
	}
	.min-height (@span, @nudge: 0) when (unit(@span) = ~"@{span}") {
		.-baseline-property(min-height, @span, @nudge);
	}
	.max-height (@span, @nudge: 0) when (unit(@span) = ~"@{span}") {
		.-baseline-property(max-height, @span, @nudge);
	}
	
	// Baseline offset
	.top (@span, @nudge: 0) when (unit(@span) = ~"@{span}") {
		.-baseline-property(top, @span, @nudge, @offset-top);
	}
	.bottom (@span, @nudge: 0) when (unit(@span) = ~"@{span}") {
		.-baseline-property(bottom, @span, @nudge, (@offset-top * -1));
	}
	
	// Baseline padding
	.padding-top (@span, @nudge: 0) when (unit(@span) = ~"@{span}") {
		.-baseline-property(padding-top, @span, @nudge);
	}
	.padding-bottom (@span, @nudge: 0) when (unit(@span) = ~"@{span}") {
		.-baseline-property(padding-bottom, @span, @nudge);
	}
	
	// Baseline margin
	.margin-top (@span, @nudge: 0) when (unit(@span) = ~"@{span}") {
		.-baseline-property(margin-top, @span, @nudge);
	}
	.margin-bottom (@span, @nudge: 0) when (unit(@span) = ~"@{span}") {
		.-baseline-property(margin-bottom, @span, @nudge, @offset-bottom);
	}
	
	//
	// Private mixins
	//
	
	// Set property values
	.-baseline-property (@property, @span, @nudge: 0, @correction: 0) when not(@span = 0) and (@nudge = 0) and (@correction = 0) {
		.get-baseline-height(@span);
		
		@{property}: @baseline-height-px;
		@{property}: @baseline-height-rem;
	}
	.-baseline-property (@property, @span, @nudge: 0, @correction: 0) when (@span = 0) and (@nudge = 0) and (@correction = 0) {
		@{property}: 0;
	}
	.-baseline-property (@property, @span, @nudge: 0, @correction: 0) when not(@nudge = 0) and (@correction = 0) {
		.get-baseline-height(@span);
		
		@{property}: @baseline-height-px;
		@{property}: -webkit-calc(@baseline-height-rem ~"+" @nudge);
		@{property}: calc(@baseline-height-rem ~"+" @nudge);
	}
	.-baseline-property (@property, @span, @nudge: 0, @correction: 0) when (@nudge = 0) and not(@correction = 0) {
		.get-baseline-height(@span);
		
		@{property}: @baseline-height-px;
		@{property}: -webkit-calc(@baseline-height-rem ~"+" @correction);
		@{property}: calc(@baseline-height-rem ~"+" @correction);
	}
	.-baseline-property (@property, @span, @nudge: 0, @correction: 0) when (default()) {
		.get-baseline-height(@span);
		
		@{property}: @baseline-height-px;
		@{property}: -webkit-calc(@baseline-height-rem ~"+" @nudge ~"+" @correction);
		@{property}: calc(@baseline-height-rem ~"+" @nudge ~"+" @correction);
	}
	
	// Calculate baseline values
	.get-baseline-height (@span, @base: @baseline-size) {
		@-height-px-value: round(unit((@span * @baseline-size * @baseline-height)), 8);
		@-height-rem-value: round(unit((@span * @baseline-height)), 8);
		@baseline-height-px: ~"@{-height-px-value}px";
		@baseline-height-rem: ~"@{-height-rem-value}rem";
	}
}