//! order.less v0.5.0 | Apache License, Version 2.0 | github.com/chromice/order.less

// = = = = = = =
//  scale.less =
// = = = = = = =

.use-scale (@base, @alternative, @ratio) when (@base < @alternative) and (ispixel(@base)) and (ispixel(@alternative)) {
	
	@scale-base: @base;
	@scale-alternative: @alternative;
	@scale-ratio: @ratio;
	
	// Font size
	.font-size (@step) when (unit(@step) = ~"@{step}") {
		.get-scale-size(@step);
		
		font-size: @scale-size;
		font-size: unit((@scale-size / @scale-base), rem);
	}
	
	// Calculate @-power-diff value
	.find-power-diff (@counter) when ((@base * pow(@ratio, @counter)) < @alternative) {
		.find-power-diff((@counter + 1));
	}
	.find-power-diff (@counter) when (default()) {
		@-power-diff: @counter;
	}
	.find-power-diff(0);
	
	// Calculate scale size at a particular particular step
	.get-scale-size (@step) when (mod(round(@step), 2) = 0) {
		@scale-size: (@base * pow(@ratio, @step / 2));
	}
	.get-scale-size (@step) when (default()) {
		@scale-size: (@alternative * pow(@ratio, (@step - 1) / 2 - (@-power-diff - 1)));
	}
}